{% extends 'template.twig' %}

{% block content %}
    <div class="container" style="text-align: center;">
        <strong style="font-size: xx-large;">Mentions légales :</strong><br><br>
        <strong>Gérant :</strong> poulpie <br><br>
        <strong>Société :</strong> Ô ' Tako <br><br>
        <strong>Adresse :</strong> 8 rue des tentacules, Avenue des otakus, 66000 Octlantis World. <br><br>
        <strong>Montant du capital social :</strong> 100 euros<br><br>
        <strong>Adresse mail :</strong> Poulpi.OTako@ppe.magicorp.fr <br><br>
        <strong>N° de téléphone :</strong> +334 27 86 84 23<br><br>
        <strong>N° d'inscription au RCS :</strong> 956232740<br><br>
        <strong>N° de TVA intracommunautaire :</strong> FR 65843274800<br><br>
        <strong>Nom du responsable de la publication sur le site :</strong> Gérald Barascud<br><br>
        <strong>Hébergeur du site :</strong><br>
        ppe.magicorp.fr<br>
        perpignan<br>
        66000<br>
        france<br><br>

        <strong style="font-size: xx-large;">Conditions générales de vente :</strong><br><br>
        <strong>Caractéristiques essentielles des produits et des services vendus :</strong><br><br> Vente en ligne de mangas<br><br>
        <strong>Prix et frais d'envois :</strong><br><br> Les prix affichés comprennent la TVA à 5,5% et ne sont soumis à aucune remise. Depuis 1981 et la loi sur le prix unique, également appelée loi Lang,<br> le prix d'un livre neuf est fixé par son éditeur et tous les détaillants. Librairies physiques en ligne et grande distribution doivent se conformer à ce prix unique.<br> Le 8 juillet 2014, le legislateur a modifié la loi de 1981 pour encadrer la vente en ligne. A partir du 10 juillet 2014, les librairies en ligne<br> n'ont plus le droit d'offrir les frais de port, quelquesois le montant de la commande (Loi n°2014-779 du 8 juillet 2014).<br> Les frais de port s'élèvent à 3 euros si le montant total du panier du client est inférieur à 27 euros. Si ce dernier est égal ou supérieur à 27 euros,<br> les frais de port passent à 0.10 euros. La loi nous interdit d'offrir les frais de port. <br><br>

        <strong>Délai de disponibilité des produits :</strong><br><br> Le site http://www.ppe3.magicorp.fr est destiné au grand public et n'a pas vocation à vendre en grande quantité les produits proposés.<br> A cet effet, nous nous réservons le droit de refuser les commandes présentant un caractère anormal constituant,<br> au sens de l’article L 122-1 du Code de la consommation, un motif légitime de refus de vente.<br> Pourront donc être considérées comme anormales les commandes d’un même produit en quantité importante et ce à partir de 5 articles identiques.<br>
        Nos offres de produits sont valables tant qu'ils sont visibles sur le site. La disponibilité indiquée au moment de la consultation du site<br> par le client reste tributaire de l'état du stock de bdfugue.com et bien entendu de nos fournisseurs.<br><br>

        <strong>Délai de livraison :</strong> <br><br> Toute commande passée en semaine (hors weekend) avant 19h sera expédiée le lendemain matin avant 12h et il faudra compter 48h maximum pour être livré. <br>Ces délais s'étendent hors weekend et jours fériés. Toutefois, ces délais sont communiqués à titre indicatif  et un dépassement éventuel<br> ne pourra donner lieu à aucun dommage et intérêts, retenue ou annulation de la commande par l'Acheteur.<br> Toutefois, si les produits commandés n'ont pas été livrés dans un délai d'un mois après la date indicative de livraison, pour toute<br> autre cause que la force majeure, la vente pourra être résolue à la demande écrite de l'Acheteur ou du Vendeur.<br><br>

        <strong>Modalités d'achat de produits ou de services à distance :</strong> <br><br>Vous pouvez passer votre commande sur Internet www.pe3.magicorp.fr et effectuer le paiement directement sur le site.<br> Nous vous adressons un email vous confirmant celle-ci, puis, nous vous informons par email de l'expédition de vos articles.<br>
        La validation de votre commande vaut acceptation sans réserve des présentes Conditions Générales de Vente.<br>
        Après la validation de votre commande, si vous souhaitez l'annuler ou la modifier, vous devez contacter le service client<br> qui donnera suite ou non à votre demande suivant que le ou les articles ont été expédiés.<br><br>

        <strong>Modalités de paiement :</strong> <br><br> L'encaissement est effectué au comptant, en totalité au jour de l'expédition de votre commande par carte de paiement (VISA, MASTERCARD ou via PayPal).<br>
        De manière exceptionnelle et dans le cas d'une modification de votre commande par nos services, il peut arriver que nous soyions contraints<br> d'encaisser le montant des articles avant l'expédition.<br>
        Votre carte est débitée entre 1 et 4 jours suivant votre commande.<br>
        Les biens livrés demeureront notre propriété jusqu'à leur expédition lors de la remise au transporteur, une fois que vous en avez acquitté le prix.<br><br>

        <strong>Conditions et modalités d'exercice du droit de rétractation du client :</strong><br><br>Conformément aux dispositions de l'article L121-20 du Code de la Consommation, vous disposez d'un délai de 14 jours ouvrables<br> à compter de la réception de vos produits pour exercer votre droit de rétractation sans avoir à justifier de motifs ni à payer de pénalité.<br> En cas d'exercice du droit de rétractation dans le délai susvisé, seul le prix du ou des produits achetés et les frais d'envoi seront remboursés ;<br> les frais de retour restant à votre charge.<br> Les retours sont à effectuer dans leur état d'origine et complets permettant leur remise en commercialisation à l'état neuf, et accompagnés d’une copie de la facture d'achat à :<br><br>
        pe3.magicorp.fr<br>
        8 rue des tentacules, Avenue des otakus, <br>
        66000 Octlantis, World.<br><br>
        L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de 30 jours à compter<br> de la réception, par le Vendeur, des articles retournés par l'Acheteur.<br><br>

        <strong>Garanties et droit de retour du produit en cas de vice caché ou de défectuosité :</strong><br><br>Tous les articles sont soumis à une garantie légale de conformité (article L211-4 du Code de la Consommation) et une garantie<br> contre les vices cachés (article 1641 et suivants du Code Civil) vous permettant de renvoyer les articles livrés défectueux.<br>
        Ainsi, si votre livre est abîmé, contactez-nous au 04.68.56.32.12 en indiquant bien le numéro de votre commande et le titre de l’album endommagé.<br> Nous vous expliquerons la démarche à suivre pour nous retourner vos articles et procéder à l'échange.<br>
        Nous nous engageons à apporter tous les soins en usage dans la profession pour la mise en œuvre du service offert au client.<br> Néanmoins, notre responsabilité ne pourra pas être retenue en cas de manquement à nos obligations contractuelles du fait d'un cas fortuit ou<br> d'un cas de force majeure tel que défini par la jurisprudence rendue par les juridictions françaises.<br>
        Notre responsabilité ne sera pas engagée en cas de retard dû à une rupture de stock chez l'éditeur ou chez le fournisseur.<br> En outre, en cas de différences non substantielles entre les photos de présentation des articles sur notre Site, textes et illustrations et<br> les articles commandés, notre responsabilité ne sera pas engagée.<br> Nous mettons en œuvre tous les moyens dont nous disposons pour assurer les prestations objets des présentes Conditions Générales de Vente.<br> Nous sommes responsables de tout dommage direct et prévisible au moment de l'utilisation du Site ou de la conclusion du contrat de vente entre nous et vous.<br><br>

        <strong>Adresse permettant au consommateur de formuler des réclamations :</strong><br><br> 8 rue des tentacules, Avenue des otakus, 66000 Octlantis World. <br><br>

        <strong>Disposition contractuelle relative aux données à caractère personnel, à la politique de protection des données ainsi qu'aux modalités d'exercice du droit d'accès :</strong><br><br>Conformément à l'article 34 de cette même loi, le client dispose d'un droit d'accès, de modification de rectification<br> et de suppression des données qui le concernent. L'internaute pourra modifier ses informations personnelles directement<br> dans la rubrique "Mon compte --&gt; Editer mon profil" sur le site de ppe3.magicorp.com.<br> Il pourra supprimer ses données personnelles par courrier en indiquant son nom, son prénom, son adresse ainsi<br> que l'email ayant servi à son enregistrement sur le site de dev.magicorp.fr.<br><br>

        <strong>Précision sur les tarifs toutes taxes comprises concernant l'offre de produits :</strong><br><br>
        Nous présentons sur notre Site les produits et services ainsi que leurs descriptifs détaillés vous permettant de connaître, avant<br> la prise de commande définitive, leurs caractéristiques essentielles.<br>
        Les prix affichés sur le Site respectent Loi n°81-766 du 10 août 1981 relative au prix du livre et sont indiqués en euros toutes taxes<br> françaises comprises (TVA française et autres taxes applicables), hors participation aux frais de port et aux frais de traitement de votre commande.<br>
        Nous nous réservons le droit de modifier ces prix à tout moment mais les produits seront facturés sur la base des tarifs en vigueur au moment de votre validation de commande.
    </div>

{% endblock %}